@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        <b>
            <span style="color: blue">T</span><span style="color: red">h</span><span style="color: black">i</span><span style="color: cyan">s </span><span style="color: blue">I</span><span style="color: red">s</span>
            <span style="color: black"> M</span><span style="color: cyan">y</span><span style="color: blue"> W</span><span style="color: red">o</span><span style="color: black">r</span><span style="color: cyan">d</span>
            <span style="color: red"> A</span><span style="color: black">n</span><span style="color: cyan">i</span><span style="color: blue">m</span><span style="color: red">a</span><span style="color: cyan">t</span><span style="color: blue">i</span><span  style="color: black">o</span><span style="color: red">n</span>
            <span style="color: blue"> W</span><span style="color: red">h</span><span style="color: black">e</span><span style="color: cyan">e</span> <span style="color: blue">l</span>
        </b>
    </h1> 
     
</div>


<body>
    <div class="wheel">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>


        <div class="cabin"></div>
        <div class="cabin"></div>
        <div class="cabin"></div>
        <div class="cabin"></div>
        <div class="cabin"></div>
        <div class="cabin"></div>
    </div>

    <div class="wheel1">
        <div class="cabin1"></div>
        <div class="cabin1"></div>
        <div class="cabin1"></div>
        <div class="cabin1"></div>
        <div class="cabin1"></div>
        <div class="cabin1"></div>
    </div>
</body>